@page "/"
@using BlazorWeatherApp.Models
@using Newtonsoft.Json
@inject HttpClient httpClient

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h2>Welcome in Weather App</h2>

@code{

    protected override async Task OnInitializedAsync()
    {

    }
}