@page "/ViewByWeather"
@using BlazorWeatherApp.Models
@inject HttpClient httpClient

<PageTitle>ViewByWeather</PageTitle>

<h1>Hello, ViewByWeather!</h1>

<h2>Welcome in Weather App</h2>

@code{

    protected override async Task OnInitializedAsync()
    {

    }
}